.group-title {
    color: #eef2f6; /* DodgerBlue or choose any color you like */
    font-weight: bold;
  }
  
  .task-section-title {
    color: #eef2f6; /* LimeGreen or your preferred color */
    font-weight: bold;
  }
  